/* new addition - service */

.card-service {
  background-color: #e9f4fd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* min-width: 725px; */
}

.card-service.collapsed-service{
  background-color: transparent !important;
}

.card-header-service {
  background-color: #002f87;
  color: white;
  padding: 0.75rem 1rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-family: 'Mallory', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.card-body-service {
  padding: 1rem;
}

ul {
  margin: 0 0 1rem 0;
  padding-left: 1.25rem;
  list-style-type: disc;
}

.section-label {
  font-size: 16px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  color: #231F20;
}


.accordian-text-new{
  color: #231F20;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.9;
}


.label-line {
  margin-top: 1rem;
}

.collapsed-service .card-header-service {
  background-color: #F4F4F4;
  color: #002F85;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-family: 'Mallory', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 1024) {
  .card-service {
    /* min-width: 200px; */
  }
}